
.container {
  background-color: #f7f7f9;
  height:718px;
  width: 375px;
  display:flex;
  flex-direction:column;
  justify-content: start;

}
.wrapper{
  padding:20px;
}

.nav-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
 
}

.header-container {
  background-image: url("images/header-shapes mobile.png");
  height:718px;
}

#logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#hello {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #344563;
  margin-top:120px;
}

.about {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top:30px;
}

.social {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8Cff;
  margin-top:30px;
}

.social-links {
  margin-top:30px;
  display:flex;
  gap: 10px 20px;
}
