html body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#popup-close-icon {
  cursor: pointer;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .desktop-version {
    display: none;
  }

  #popup-overlay {
    display: none;
    position: fixed;
    width: 343px;
    height: 600px;
    left: calc(50% - 343px / 2);
    top: 60px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    z-index: 10;
  }

  #popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .popup-btn-area {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
  }

  .popup-btn {
    background: none;
    border: 1px solid #396df2;
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 10px;
  }

  .popup-btn-icon {
    margin-left: 3px;
  }

  #popup-close-icon {
    cursor: pointer;
  }

  .hamburger-icon {
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #6070ff;
  }

  .hamburger-icon.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-icon.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #modal-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(96, 112, 255, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 80;
  }

  #modal-overlay #custom-modal {
    width: 100%;
    background: transparent;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  #close-icon {
    cursor: pointer;
  }

  #modal-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
  }

  .hamburger-list-item {
    list-style: none;
  }

  .hamburger-menu-link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    background-color: #f7f7f9;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-areas:
      'header'
      'CardWorksArea'
      'about-me'
      'contactme-form';
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: start;
  }

  .about-me {
    grid-area: about-me;
    height: 1100px;
    background-color: #fff;
    border: 1px;
    border-top-right-radius: 100px;
  }

  .top-header {
    grid-area: header;
    background-color: #fff;
    border: 1px;
    border-bottom-left-radius: 100px;
  }

  .card-work1 {
    grid-area: card-work1;
  }

  .card-work2 {
    grid-area: card-work2;
  }

  .card-work3 {
    grid-area: card-work3;
  }

  .card-work4 {
    grid-area: card-work4;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  .header-container {
    background: url('images/header-shapes-mobile.png') no-repeat center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 625px;
  }

  #logo {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    transition: fontsize 2s;
  }

  #logo:hover {
    font-size: 35px;
  }

  .link-logo {
    text-decoration: none;
  }

  #hello {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #344563;
    margin-top: 80px;
    margin-bottom: 10;
  }

  .about {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 0;
    margin-bottom: 0;
  }

  .social {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
  }

  .horizontal-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .list-item {
    list-style: none;
    margin-left: 5px;
  }

  .first-item-only {
    margin-left: 16px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    gap: 0;
    width: 100%;
    height: auto;
    margin: 50px 24px 50px 24px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .small-list {
    margin-left: 16px;
  }

  .card-image {
    margin: 16px;
    object-fit: cover;
  }

  .project-name {
    font-family: Poppins, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 32px;
    color: #172b4d;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .circle {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 100%;
  }

  .small-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    margin-left: 5px;
  }

  .small-detail {
    width: 100px;
    height: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .project-desc {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-left: 16px;
    margin-top: 0;
  }

  .skills-list {
    grid-area: list;
    display: flex;
    margin-left: 10px;
  }

  .skills-rect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 12px;
    width: 45px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .js {
    width: 89px;
  }

  .skills {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .link-text {
    width: 29px;
    height: 16px;
  }

  .btn-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 124px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    margin: 16px;
  }

  .project-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .about-me-header {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-left: 16px;
    color: #172b4d;
  }

  .aboutme-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 16px;
  }

  .margin-class {
    margin-left: 16px;
  }

  .resumebtn-area {
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 16px;
    margin-top: 15px;
  }

  .resume-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    display: flex;
    align-items: center;
  }

  .categories-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .language-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
  }

  .languages-tabs {
    display: flex;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .header-languages {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    color: #000;
  }

  .contactme-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-top-left-radius: 100px;
    background: #6070ff url('images/contact-form-shapes-mobile.png') no-repeat right;
    background-size: contain;
    height: auto;
    width: 100%;
  }

  .contactme-form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }

  .contactme-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-left: 80px;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .contactme-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #ebebff;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .contactme-formList {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 10px;
  }

  .form-textBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 18px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .smallTxtbox {
    height: 48px;
    width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .bigTextBox {
    height: 170px;
    width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  #submit-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
    text-decoration: none;
  }

  .submitbtn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px 12px 16px;
    padding-top: 20px;
    width: 140px;
    height: 30px;
    background: #fff;
    border-radius: 8px;
    margin: 24px;
    margin-right: 100px;
  }

  .TextBox-personal-style {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .TextBox-info-style {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  .Shape-line {
    margin-left: 120px;
    margin-bottom: 8px;
    height: 5px;
    width: 134px;
    left: 120px;
    top: 21px;
    border-radius: 10px;
  }

  input {
    padding: 10px;
    padding-right: 0;
  }

  input:focus {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 10px #0d99ff;
  }

  textarea {
    padding: 10px;
    padding-right: 0;
    flex-basis: 100%;
  }

  textarea:focus {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 10px #0d99ff;
  }

  .resumebtn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #0d99ff;
  }

  .submitbtn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #fff;
  }

  .btn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #0d99ff;
  }

  #submit-btn:active {
    color: #fff;
  }

  .project-btn:active {
    color: #fff;
  }

  #resume-btn:active {
    color: #fff;
  }

  .styleLine {
    margin-left: 200px;
  }
}

/* *************************************************************** */

/* *************************************************************** */

/* ************************************************************** */

@media only screen and (min-width: 768px) {
  .mobile-version {
    display: none;
  }

  .desktop-card {
    display: flex;
  }

  #popup-overlay {
    display: none;
    width: 1156px;
    height: 630px;
    border-radius: 16px;
    border: 1px solid #ebecf0;
    position: fixed;
    left: calc(25% - 343px / 2);
    top: 60px;
    background: #fff;
    z-index: 10;
  }

  #popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #popup-close-icon {
    margin-right: 20px;
  }

  .popup-btn-area {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
  }

  .popup-btn {
    background: none;
    border: 1px solid #396df2;
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
    padding: 10px;
  }

  .popup-btn-icon {
    margin-left: 3px;
  }

  .popup-desc-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .image-card-popup-d {
    width: 1108px;
    height: 350px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .image-popup-d {
    object-fit: stretch;
    height: 350px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .desktop-card-reverse {
    display: flex;
    flex-direction: row-reverse;
  }

  .desktop-nav-menu {
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
  }

  .nav-menu-list {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-decoration: none;
    margin: 10px;
    transition: fontsize 2s;
  }

  .nav-menu-list:hover {
    font-size: 20px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 100%;
    margin-bottom: 120px;
    padding: 70px 200px 0 350px;
  }

  .container {
    background-color: #f7f7f9;
    width: 100vw;
    height: auto;
    display: grid;
    justify-items: stretch;
    grid-template-areas:
      'header'
      'CardWorksArea'
      'about-me'
      'contact-me';
  }

  .about-me {
    grid-area: about-me;
    background-color: #fff;
    border: 1px;
    border-top-right-radius: 100px;
  }

  .top-header {
    grid-area: header;
    background-color: #fff;
    border: 1px;
    border-bottom-left-radius: 100px;
    width: 100%;
  }

  .card-work1 {
    grid-area: card-work1;
  }

  .card-work2 {
    grid-area: card-work2;
  }

  .card-work3 {
    grid-area: card-work3;
  }

  .card-work4 {
    grid-area: card-work4;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
  }

  .header-container {
    background: url('images/Header-shapes-desktop.png') no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
  }

  #logo {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
    margin-left: 100px;
    transition: fontsize 2s;
  }

  #logo:hover {
    font-size: 35px;
  }

  .link-logo {
    text-decoration: none;
  }

  #hello {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #344563;
    margin-top: 80px;
    margin-bottom: 10;
  }

  .about {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-top: 0;
    margin-bottom: 0;
  }

  .social {
    font-family: Poppins, Verdana, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7f8cff;
  }

  .horizontal-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }

  .list-item {
    list-style: none;
    margin-left: 5px;
  }

  .first-item-only {
    margin-left: 16px;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 100px;
    gap: 20px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
  }

  .small-list {
    margin-left: 16px;
  }

  .card-image {
    margin: 16px;
    height: 496px;
  }

  .project-name {
    font-family: Poppins, sans-serif;
    font-style: bold;
    font-weight: 900;
    font-size: 32px;
    color: #172b4d;
    margin-left: 16px;
    margin-bottom: 0;
  }

  .circle {
    width: 8px;
    height: 8px;
    background: #c1c7d0;
    border-radius: 100%;
  }

  .small-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    margin-left: 5px;
  }

  .small-detail {
    width: 100px;
    height: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .project-desc {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin-left: 16px;
    margin-top: 0;
  }

  .skills-list {
    grid-area: list;
    display: flex;
    margin-left: 10px;
  }

  .skills-rect {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 12px;
    width: 45px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .js {
    width: 89px;
  }

  .lead {
    width: 150px;
  }

  .margin-aboutme-desktop {
    margin-left: 120px;
  }

  .skills {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .link-text {
    width: 29px;
    height: 16px;
  }

  .btn-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 124px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    margin: 16px;
  }

  .project-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .about-me-header {
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-left: 16px;
    color: #172b4d;
  }

  .aboutme-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-left: 16px;
  }

  .margin-class {
    margin-left: 16px;
  }

  .resumebtn-area {
    width: 162px;
    height: 48px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 16px;
    margin-top: 15px;
  }

  .resume-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #396df2;
    display: flex;
    align-items: center;
  }

  .categories-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .language-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
  }

  .languages-tabs {
    display: flex;
    align-items: center;
    width: 303px;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .header-languages {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    font-style: bold;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    color: #000;
  }

  .contactme-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-top-left-radius: 100px;
    background: #6070ff url('images/contact-form-desktop-background.png')  no-repeat right;
    background-size: contain;
    height: auto;
    width: 100%;
  }

  .contactme-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 99vmax;
    padding-top: 30px;
  }

  .contactme-header {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 0;
  }

  .contactme-paragraph {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    align-self: center;
    color: #ebebff;
    margin-top: 20;
    margin-bottom: 0;
  }

  .form-textBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 18px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
  }

  .smallTxtbox {
    height: 48px;
    width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .bigTextBox {
    height: 170px;
    width: 327px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  #submit-btn {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #6070ff;
    text-decoration: none;
  }

  .submitbtn-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 16px 12px 16px;
    padding-top: 20px;
    width: 140px;
    height: 30px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 80px;
  }

  .TextBox-personal-style {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
  }

  .TextBox-info-style {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
  }

  .Shape-line {
    margin-left: 120px;
    margin-bottom: 8px;
    height: 5px;
    width: 134px;
    left: 120px;
    top: 21px;
    border-radius: 10px;
  }

  input {
    padding: 10px;
    padding-right: 0;
    width: calc(100% - 20px);
    resize: horizontal;
  }

  input:focus {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 10px #0d99ff;
  }

  textarea {
    padding: 10px;
    padding-right: 0;
    width: calc(100% - 20px);
    resize: horizontal;
  }

  textarea:focus {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 10px #0d99ff;
  }

  .resumebtn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #0d99ff;
  }

  .submitbtn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #fff;
  }

  .btn-area:hover {
    outline: none !important;
    border-color: #6070ff;
    box-shadow: 0 0 4px #0d99ff;
  }

  #submit-btn:active {
    color: #fff;
  }

  .project-btn:active {
    color: #fff;
  }

  #resume-btn:active {
    color: #fff;
  }

  .EndLine {
    display: none;
  }
}
